h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Arial Black';
  font-style: 'italic';
  text-shadow: 0 4px 0 rebeccapurple,
    0 8px 0 yellow,
    0 12px 0 saddlewood,
    0 16px 0 dodgerblue,
    0 20px 0 darkorchid,
    0 24px 0 skyblue,
    0 28px 0 darkred,
    0 32px 0 gainsboro,
    0 36px 0 rebeccapurple;
}
