@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&family=Sora:wght@400;600;700&family=JetBrains+Mono:wght@400;500&family=DM+Sans:wght@400;500;700&family=Syne:wght@500;700&family=Bebas+Neue&family=Manrope:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;700&display=swap');


body {
  background: linear-gradient(60deg, black 0% 10%, #777 20% 30%, purple 40% 50%, white 60% 70%, purple, 80%, 90%, white);
    
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Bebas Neue';

}



h1 {
  margin: 80px auto 0 auto;
  font-size: 4rem;
  letter-spacing: 0.4em;
  text-shadow: 0 4px 8px yellow,
    0 8px 14px yellow;
  padding-bottom: 8px;
  padding-top: 80px;
  position: relative;
  width: fit-content;
    
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background: orange;
  box-shadow: 0 4px 8px white;
  animation: skyline 8s ease-in-out infinite;
}
  

@keyframes skyline {
  0% {width: 0; opacity: 0; }
  40%{ width: 100%; opacity: 1}
  80%{ width: 0; opacity: 0}

}

